body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#1f1f1f,#3a3a3a);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculadora{
    background:#222;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

#pantalla{
    width:100%;
    height:50px;
    font-size:24px;
    text-align:right;
    border:none;
    border-radius:8px;
    padding:10px;
    margin-bottom:15px;
    background:#111;
    color:white;
}

.botones{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:12px;
}

button{
    height:55px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}

/* números */
.numero{
    background:#444;
    color:white;
}

/* operadores */
.operador{
    background:#ff9500;
    color:white;
}

/* igual */
.igual{
    background:#28a745;
    color:white;
}

/* limpiar */
.limpiar{
    background:#dc3545;
    color:white;
}
#historial{
color:#bbb;
font-size:14px;
margin-bottom:10px;
height:40px;
overflow:auto;
}

.light{
background:#f4f4f4;
color:black;
}

.light .calculadora{
background:white;
}

.light #pantalla{
background:#eee;
color:black;
}